version: '3'

services:
  db:
    image: postgres
    container_name: postgres_1
  web:
    build: .
    container_name: django_1
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db